<!--Copyright Prisni Technologies LLP. Author: Debabrata Mukherjee-->
<H1>Welcome to Eduscort Services</H1>
<p></p>
<div class="container">
    <button (click)="goToStudentCRUD()" class="btn btn-success">Go To Student Management</button>
    <p></p>
    <button (click)="goToStudentAttendance()" class="btn btn-success">Go To Student Attendance</button><p></p>
    <button (click)="goToPaymentPage()" class="btn btn-success">Go To payment page</button><p></p>
    <button (click)="goToLoginPage()" class="btn btn-success">Go To login page</button><p></p>
</div>
<div class="copyright">    
    <P>&copy; 2021 Prisni Technologies LLP.</P>
    <br>
</div>